@import url(http://fonts.googleapis.com/css?family=Simonetta|Balthazar);
@import url(http://thecodeplayer.com/uploads/fonts/fontawesome/css/font-awesome.min.css);

* {
    margin: 0;
    padding: 0;

}

html {
    height: 101%;
}

.sectionContent {
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
}

.navbar {
    background-image: url("../pictures/banner2.png");
    background-repeat: round;
    color: #000000;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand {
    color: #ffffff;
}

.navbar-default {
    min-height: 35em;
}

.panel-body img {
    width: 50%;
    height: 50%;
}

.bannerImage {
    width: 50%;
    max-height: 30%;
    margin-left: 1%;
}

.panel {
    margin-top: 1%;
}

.btn-group {
    margin-top: 1em;
}

.form-control.default {
    color: #ffffff;
    background-color: #3a3f44;
    border-color: #3a3f44;
}

.btn.btn-sm.btn-default.itemButton {
    text-decoration: none;
}


.ImageIconDiv {
    position: absolute;
    width: 2.125em;
    height: 2.125em;
}

.divImageTemplate {
    position: relative;
    top: 0;
    left: 0;
}

.template {
    clear: both;
}

.btn.btn-default {
    margin-top: 0.5em;
}


@media (max-width: 767px) {
    .navbar-default {
        min-height: 10em;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .navbar-default {
        min-height: 15em;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .navbar-default {
        min-height: 25em;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .navbar-default {
        min-height: 30em;
    }
}