@import url(http://fonts.googleapis.com/css?family=Simonetta|Balthazar);
@import url(http://thecodeplayer.com/uploads/fonts/fontawesome/css/font-awesome.min.css);

* {
    margin: 0;
    padding: 0;

}

html {
    height: 101%;
}

.wrapper {
    width: 100%;
}


.sectionContent {
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
}


.panel-body img {
    width: 50%;
    height: 50%;
}



@media screen and (max-width: 700px) {


}

@media screen and (max-width: 480px) {

}