@import url(http://fonts.googleapis.com/css?family=Simonetta|Balthazar);
@import url(http://thecodeplayer.com/uploads/fonts/fontawesome/css/font-awesome.min.css);

html {
    position: relative;
    height: 100%;
    top: 0;
    background-color: black;
    /*background-image: url(./../pictures/radioactive.jpg);*/
    background-size: 20%;
    color: white;
    font-family: 'Balthazar', serif;
    font-size: 100%;
    width: 100%;
}

body {
    margin-left: 20%;
    margin-right: 20%;
    background-color: black;
    min-height: 100%;
}

#content {
    background-color: #0b0b0b;
    -webkit-box-shadow: inset -1px 0px 8px 4px rgba(50, 50, 50, 0.56);
    -moz-box-shadow: inset -1px 0px 8px 4px rgba(50, 50, 50, 0.56);
    box-shadow: inset -1px 0px 8px 4px rgba(50, 50, 50, 0.56);
}

#sectionContent {
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
}

header {
    width: 100%;
}

section {
    position: relative;
    width: 100%;
    padding-bottom: 20%;
}

header, h1, h2, h3 {
    clear: both;
    font-family: 'Simonetta', cursive;
}

h2:after,
h3:after,
h4:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    bottom: 0;
    width: 5px;
    /*border-radius: 0.5em;*/
}

h2:after {
    background: #484848;
}

h1, .banner {
    font-size: 36px;
    line-height: 40px;
    margin: 1em 0 .6em 0;
    font-weight: bold;
    color: #ffab00;
    text-align: center;
    position: relative;

}

h2 {
    margin: 1em 0 .6em 0;
    padding: 0 0 0 20px;
    font-weight: bold;
    color: #ffab00;
    position: relative;
    font-size: 30px;
    line-height: 40px;
}

h3 {
    margin: 1em 0 .6em 0;
    text-decoration: underline;
    font-weight: bold;
    position: relative;
    font-size: 18px;
    line-height: 20px;
}

.error404 {
    width: 70%;
    height: 70%;
    margin: 0 15%;
}

/*-------------------Footer-------------------*/

footer {
    color: #c8c8c8;

    background-image: url("../pictures/panel.jpg");
    box-shadow: inset 0 2px 3px rgba(255, 255, 255, 0.3), inset 0 -2px 3px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(255, 255, 255, 0.3);
}

footer ul {
    background-color: #202020;
    padding: 1%;
    width: 20%;
    position: relative;
    list-style: none;
    margin-bottom: -2%;
}

footer li {

}

/*---------------Add/Edit Forms---------------*/

#title, #linkMessage, #username, #password, #oldPassword, #repeatPassword, #mail, #positions {
    background: #111111;
    display: inline;
    padding: 0.3em;
    border: 0.2em solid #444444;
    color: #c8c8c8;
    transition: all 0.3s ease-out;
}

#title:focus, #linkMessage:focus, #username:focus, #password:focus, #oldPassword:focus, #repeatPassword:focus,
#mail:focus, #positions:focus {
    outline: none;
    border-color: #808080;
}

.editForm {
    height: 40em;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}

.btn {
    display: inline;
    text-align: center;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 2px 3px rgba(255, 255, 255, 0.3), inset 0 -2px 3px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(6, 6, 6, 0.74);
    font-family: 'Simonetta', cursive;
    margin: 0.5em 0;
    color: #c3c3c3;
    background-color: #444444;
    font-size: 110%;
    padding: 0 0.3em;
}

.btn:active {
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
    outline: none;
}

.myFileUpload {
    position: relative;
    overflow: hidden;
    margin: 0 0.3em;
}

.myFileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
}

input[placeholder] {
    font-family: 'Simonetta', cursive;
    font-weight: bold;
    color: #444444;
}

input[type=text]{
    background: #111111;
    display: inline;
    padding: 0.3em;
    border: 0.2em solid #444444;
    color: #c8c8c8;
    transition: all 0.3s ease-out;
}

/*----------------Form Buttons----------------*/

.submitButton {
    clear: both;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 2px 3px rgba(255, 255, 255, 0.3), inset 0 -2px 3px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(6, 6, 6, 0.74);
    font-family: 'Simonetta', cursive;
    margin: 0.5em 0;
    color: #c3c3c3;
    background-color: #444444;
    font-size: 110%;
    padding: 0.1em 0.3em;
}

.submitButton:active {
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
    outline: none;
}

#topPanelButtons a:link, #menu a:link, #topPanelButtons a:visited, #menu a:visited, #topPanelButtons a:hover,
#menu a:hover, #topPanelButtons a:active, #menu a:active {
    color: black;
}

.buttonsItemEditArea form {
    margin-right: 1em;
    display: inline;
}

.buttonsRecipe form {
    margin-right: 1em;
    float: left;
}

#addSection {
    clear: left;
}

.categoryButtons form {
    display: inline;
    margin-right: 1em;
}

.linkButtons form {
    display: inline;
    margin-right: 1em;
}

.serverButtons form {
    display: inline;
    margin-right: 1em;
}

.commentButtons form {
    clear: both;
    display: inline;
    margin-right: 1em;
}

/*----------------Form Select----------------*/

select {
    padding: 0.1em 0.3em;
    margin: 0.5em 0;
    box-shadow: inset 0 2px 3px rgba(255, 255, 255, 0.3), inset 0 -2px 3px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(6, 6, 6, 0.74);
    background: #444444;
    color: #c3c3c3;
    border: none;
    font-size: 110%;
    font-family: 'Simonetta', cursive;
    outline: none;
    display: inline-block;
    -webkit-appearance: normal;
    -moz-appearance: normal;
    appearance: normal;
}

select.recipeItemSelect {
    margin: 0;
}

/*----------------Links----------------*/

.link {
    display: inline-block;
    position: relative;
    padding-left: 6px;
    /* Font styles */
    text-decoration: none;
    color: #6AB3EC;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.9);
}

.link:hover {
    color: #3C9CE7;
}

.link:before {
    content: "\25BA";
    font-size: 80%;
    display: inline-block;
    padding-right: 3px;
    pointer-events: none;
}

.link:hover:before {
    color: #F2BF97;
}

.itemName {
    display: inline-block;
    margin: 0 0.2em;
    padding: 3px;
    background: #ff8c00;
    transition: all 0.3s ease-out;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 2px 3px rgba(255, 255, 255, 0.3), inset 0 -2px 3px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(255, 255, 255, 0.9);
    /* Font styles */
    text-decoration: none;
    font-weight: bold;
    color: #272727;
}

.itemName:hover {
    background: #ff6c02;
}

.itemName:active {
    background: #ff4b00;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.7);
}

.itemName:visited {
    background: #ffb100;
}

/*----------------Error----------------*/

.error {
    color: red;
}

/*-------------Banner---------------*/

.banner {
    position: relative;
    clear: both;
    width: 100%;
}

.wikiName {
    clear: both;
    float: left;
    margin-left: 10%;
}

.bannerImage {
    clear: left;
    float: left;
    margin: 1% 10%;
    width: 80%;
    height: 80%;
}

/*-------------Top Panel---------------*/

header #topPanelButtons {
    margin-top: -0.5%;
    margin-bottom: 1%;
    float: right;
    display: inline;
    width: 100%;
    background-image: url("../pictures/panel.jpg");
    box-shadow: inset 0 2px 3px rgba(255, 255, 255, 0.3), inset 0 -2px 3px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(255, 255, 255, 0.3);
}

header #topPanelButtons ol {
    float: right;
}

header #topPanelButtons div.loggedOut {
    clear: both;
    float: right;
    width: 100%;
    margin: 0.4em 2em;
}

header #topPanelButtons div.loggedIn {
    margin: 0.4em 2em;
    clear: both;
    float: right;
    width: 100%;
}

header .modern {
    display: inline-block;
    margin: 5px;
    padding: 0.5em 0.6em;
    background: #ffab00;
    border: 0.1em solid #616161;
    /*border-radius: 0.5em;*/
    transition: all 0.3s ease-out;

    /* Font styles */
    text-decoration: none;
}

header .modern:hover {
    background: #ff9000;
}

header .modern.embossed-link {
    box-shadow: inset 0 2px 3px rgba(255, 255, 255, 0.3), inset 0 -2px 3px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(255, 255, 255, 0.9);
}

header .modern.embossed-link:active {
    box-shadow: inset 0 2px 3px rgba(255, 255, 255, 0.3), inset 0 -2px 3px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(255, 255, 255, 0.9);
}

header .embossed-link {
    box-shadow: inset 0 2px 3px rgba(255, 255, 255, 0.3), inset 0 -2px 3px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(255, 255, 255, 0.9);
}

/*-------------Menu---------------*/

#menu {
    clear: both;
    width: 100%;
    background-image: url("../pictures/panel.jpg");
}

#menu.modern.embossed-link {
    width: 80%;
    padding: 5px 0;
    margin: 1% 10%;
}

#menu.modern.embossed-link:hover {
    background: url("../pictures/panel.jpg");

}

#menu ol {
    list-style: none;
    width: 100%;
    margin: 0 5%;
}

#menu li {
    display: inline;
}

#menu a {
    font-size: 150%;
    margin-right: 0.3%;
    padding: 10px 20px;
}

/*------------Navigation---------------*/

nav {
    clear: both;
    margin-top: 0.5%;
    margin-left: 10%;
}

nav a {
    display: inline-block;
    position: relative;
    padding-left: 6px;
    /* Font styles */
    text-decoration: none;
    color: #6AB3EC;
}

nav a:hover {
    color: #3C9CE7;
}

nav a:before {
    content: "\25BA";
    font-size: 80%;
    display: inline-block;
    padding-right: 3px;
    pointer-events: none;
}

nav a:hover:before {
    color: #F2BF97;
}

/*-------------Homepage/Tutorials---------------*/

.more {
    display: inline-block;
    position: relative;
    padding-left: 6px;
    /* Font styles */
    text-decoration: none;
    color: #6AB3EC;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.9);
}

.more:hover {
    color: #3C9CE7;
}

.more:before {
    content: "\25BA";
    font-size: 80%;
    display: inline-block;
    padding-right: 3px;
    pointer-events: none;
}

.more:hover:before {
    color: #F2BF97;
}

.news, .tutorial {
    margin-bottom: 1em;
    background-color: #0c0c0c;
    padding: 1em;
    -webkit-box-shadow: inset -1px 0px 8px 4px rgba(50, 50, 50, 0.56);
    -moz-box-shadow: inset -1px 0px 8px 4px rgba(50, 50, 50, 0.56);
    box-shadow: inset -1px 0px 8px 4px rgba(50, 50, 50, 0.56);
}

.newsMessage, .tutorialMessage {
    clear: both;
    /*border-radius: 0.5em;*/
    width: 80%;
    margin-left: 5%;
    margin-right: 15%;

}

.newsMessage img {
    width: 50%;
    height: 50%;
    margin: 1%;
}

/*-------------Recipe---------------*/

.ImageIconDiv {
    position: absolute;
    width: 34px;
    height: 34px;
}

.divImageTemplate {
    position: relative;
    top: 0px;
    left: 0px;
}

.template {
    clear: both;
}

/*----------Items List------------*/

.category {
    overflow: hidden;
    width: 100%;
    margin-bottom: 1em;
    background-color: #0c0c0c;
    padding: 1em;
    -webkit-box-shadow: inset -1px 0px 8px 4px rgba(50, 50, 50, 0.56);
    -moz-box-shadow: inset -1px 0px 8px 4px rgba(50, 50, 50, 0.56);
    box-shadow: inset -1px 0px 8px 4px rgba(50, 50, 50, 0.56);
}

.itemContainer {
    float: left;
    position: relative;
    width: 40%;
    height: 100%;
    margin-right: 1em;
    margin-bottom: 1em;
    background-color: #0c0c0c;
    padding: 1em;
    -webkit-box-shadow: inset -1px 0px 8px 4px rgba(50, 50, 50, 0.56);
    -moz-box-shadow: inset -1px 0px 8px 4px rgba(50, 50, 50, 0.56);
    box-shadow: inset -1px 0px 8px 4px rgba(50, 50, 50, 0.56);
}

.item {
    overflow: hidden;
    width: 100%;
}

.itemIcon {
    height: 5em;
    width: 5em;
}

/*----------Links List------------*/

.linkDiv {
    margin-bottom: 1em;
    background-color: #0c0c0c;
    padding: 1em;
    -webkit-box-shadow: inset -1px 0px 8px 4px rgba(50, 50, 50, 0.56);
    -moz-box-shadow: inset -1px 0px 8px 4px rgba(50, 50, 50, 0.56);
    box-shadow: inset -1px 0px 8px 4px rgba(50, 50, 50, 0.56);
}

/*---------Servers List-----------*/

.server, .message {
    margin-bottom: 1em;
    background-color: #0c0c0c;
    padding: 1em;
    -webkit-box-shadow: inset -1px 0px 8px 4px rgba(50, 50, 50, 0.56);
    -moz-box-shadow: inset -1px 0px 8px 4px rgba(50, 50, 50, 0.56);
    box-shadow: inset -1px 0px 8px 4px rgba(50, 50, 50, 0.56);
}

/*-----------Comments-------------*/

div.comment:first-child, div.comment {
    margin-left: 1%;
    width: 95%;
}

div.reComment {
    overflow: hidden;
    clear: left;
    margin-left: 2%;
    width: 93%;
}

.comment, .reComment {
    margin-bottom: 1em;
    background-color: #0c0c0c;
    padding: 1em;
    width: 100%;
    -webkit-box-shadow: inset -1px 0px 8px 4px rgba(50, 50, 50, 0.56);
    -moz-box-shadow: inset -1px 0px 8px 4px rgba(50, 50, 50, 0.56);
    box-shadow: inset -1px 0px 8px 4px rgba(50, 50, 50, 0.56);
}

/*--------List of Users----------*/

.user {
    margin-bottom: 1em;
    background-color: #0c0c0c;
    padding: 1em;
    width: 100%;
    -webkit-box-shadow: inset -1px 0px 8px 4px rgba(50, 50, 50, 0.56);
    -moz-box-shadow: inset -1px 0px 8px 4px rgba(50, 50, 50, 0.56);
    box-shadow: inset -1px 0px 8px 4px rgba(50, 50, 50, 0.56);
}

.userStatus, .confirmed {
    color: greenyellow;
}

.adminStatus, .unconfirmed, .banned {
    color: orangered;
}

/*----------Profile------------*/

.about {
    margin-bottom: 1em;
    background-color: #0c0c0c;
    padding: 1em;
    width: 100%;
    -webkit-box-shadow: inset -1px 0px 8px 4px rgba(50, 50, 50, 0.56);
    -moz-box-shadow: inset -1px 0px 8px 4px rgba(50, 50, 50, 0.56);
    box-shadow: inset -1px 0px 8px 4px rgba(50, 50, 50, 0.56);
}

.email {
    font-style: italic;
    color: #ff0060;
}
